body {
    background-color: rgb(229, 242, 247);
}

.box1 {
    background-color: #e6f7ff;
    border: 2px solid #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.box2 {
    background-color: #fff2e6;
    border: 2px solid #333;
    border-width: 2px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

.box3 {
    background-color: #f9e6ff;
    border: 2px dashed #333;
    border-width: 2px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 0px;
}