body{
    background-color: rgb(158, 216, 240)
}

h1 {
    color:rgb(106, 182, 101);
}

h2 {
    color:rgb(13, 148, 232);
}

table {
    border-collapse: collapse;
}

th {
    background-color: #c9cbcd;
}

th,td {
    border: 1px solid rgb(160 160 160);
}